*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

}
.q{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.w{
    display: flex;
    gap: 50px;
}
.e{
    background-color: #F3D7B7;
    width: 1540px;
    height: 800px;
    
}
.r{
    font-size: 54px;
}
.y{
    color: white;
    border-radius: 100px ;
    background-color: green;
    width: 193px;
    height: 51px;
   margin-top: 47px;
}
.t{
    padding: 130px 0px 0px 50px;
    
}
.u{
    margin-top: 47px;
}
.i{
    width: 710px;
    height: 694px;
margin-left: 835px;
bottom: 100px;
position: relative;
position: absolute;
bottom: -100px;
}
.s{
    margin-left: 700px;
    position: relative;
    position: absolute;
    bottom: 500px;
    transition: all 0.5;
    
}
.s:hover{
    transform: rotateZ(180deg);
}
.d{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding: 120px;
}
.sd{
    margin-left: 650px;
 position: relative;
 position: absolute;
 margin-top: 90px;
}
.fd{
   font-size: 40px;
   
}
.we{
    display: flex;
}
.jh{
    transition: all 0.5;
}
.jh:hover{
transform: scale(2.5);

}
.ga{
    margin-left: 650px;
}
.gs{
  position: relative;
  position: absolute;
 margin-top: 150px;
 margin-left: 100px;
 transition: all 0.5;
}
.ga:hover{
    transform: scale(1.5);
}
.sg{
    display: flex;
}
.xv{
    font-size: 40px;
}
.as{
    margin-left: 650px;
 position: relative;
 position: absolute;
padding-top: 150px;
/* padding-bottom: 200px; */

}
.fs{
    display: flex;
}
.hj{
    transition: all 0.5;
}
.hj:hover{
  transform: scale(2.5);
}
.kl{
  display: flex;
margin-top: 200px;
align-items: center;
padding: 30px;
justify-content: space-between;
}
.fsd{
    background-color: #F3D7B7;
  
}
.asw{
    display: flex;
    gap: 45px;
font-size: 20px;
}
.dfg{
    display: flex;
    gap: 25px;
}